*,
body {
  font-family: "Raleway-Regular" !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.6rem;
  right: 0.6rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: rgb(236, 236, 236);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
}
