.image-back {
   
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100vh !important;
    display: table;
}


.div-text-about{
    padding-left: 20%;
    padding-top: 11%;
    
}

.p-text-about{
    color: #bb7244;
    font-size: 1.5vw;
    padding-right: 30%;
}