#button {
  width: 200px;
  height: 50px;
}

.details {
  max-width: 500px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.information {
  padding: 7px;
}
.name {
  color: #bb7244;
  font-size: larger;
}
.price {
  width: 94%;
  margin-bottom: 4%;
  color: #bb7244;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.info {
  margin-left: 65%;
  position: absolute;
  top: 150px;
}


